main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.imgs{
  max-width: 50%;
  max-height: 50%
  }


.carousel-item {
    text-align: center;
}


.bg-dark{
  --bs-bg-opacity: 1;
  background-color: #A67B5B !important;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #6F4E37 !important;
}

body{
  color: #ECB176 !important;
}

.card-title {
  color:  #6F4E37 !important;
}

.page-link.active, .active > .page-link {
  z-index: 3;
  color:  #ECB176 !important;
  background-color:  #6F4E37 !important;
  border-color:  #A67B5B !important;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg:#6F4E37 ;
  --bs-btn-border-color:#6F4E37 ;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #A67B5B ;
  --bs-btn-hover-border-color: #303d4a;
  --bs-btn-focus-shadow-rgb: 89, 103, 117;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #303d4a;
  --bs-btn-active-border-color: #6F4E37;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg:#6F4E37 ;
  --bs-btn-disabled-border-color:#6F4E37 ;
}